.Header{
  border: 2px solid black;
  margin-bottom: 5px;
}
.FolderSection, .SideBar, .NoteCard, .MainSection{
  border: 2px solid black;
}

.FolderSection {
  width: 31vw;
  text-align:center;
  margin-bottom: 5px;
}

.SideBar{
  width: 30vw;
  text-align:center;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-top: 1px;
}

.MainSection{
  position: absolute;
  width: 65.9vw;
  margin-top: -122px;
  margin-left: 32vw;
}

.NoteCard {
	margin: 5px 15px;
}

